body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 120%;
  background-image: url('https://source.unsplash.com/1600x900/?landscape')
}

.card {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, .8);
  color: white;
  padding: 20px;
  border-radius: 30px;
  width: 1000px;
  max-width: 420px;
}

.search-bar {
  margin-left: 100px;
  padding: 0.3em;
  border: 0.2px solid rgb(0, 0, 0);
  border-radius: 12px;
  font-size: medium;
  color: white;
  background: #7c7c7c2b;
  width: 12em;
}

button {
  position: absolute;
  margin-top: 0.8px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 8px;
  border-radius: 15px;
  background: #7c7c7c2b;
  border: 0.2px solid black;
}

.searchBtn {
  padding-top: 4px;
  margin-top: 2px;
  color: white;
}

.btn:hover {
  background-color: black;
  border-color: white;
  color: white;
  transition: var(--transition);
}

.city {
  text-align: center;
  position: relative;
  top: 20px;
}

.temp {
  position: relative;
  text-align: center;
}

.moreInfo p{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  text-transform: capitalize;
  font-size: medium;
  padding-bottom: 4px;
}

.moreInfo {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  bottom: 10px;
}

